*{  margin: 0;
    box-sizing: border-box;
}
body{  font-family: Arial, Helvetica, sans-serif;padding: 90px 20px 0;
}
.header{  background-color: rgb(188, 79, 181);
    height: 80px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{  display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.navml{  color: white;
    text-decoration:none;
}
.logo{ font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu{   display: flex;
    margin-right: 40px;
    list-style: none;   
}
.mni{  font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nml{   padding: 8px 12px;
    border-radius: 5px;
}
.nml.hover{  background-color: rgb(236, 135, 202);transition: 1;
}
.toggle{
    color: white;
    background:rgb(193, 90, 224);
    border: none;
    font-size: 16px;
    padding: 6px 6px;
    cursor: pointer;
    display: inline;
    height: 79px;
}

@media(max-width:768px){
    body{background-color: rgb(191, 150, 184);
        padding-top: 70px;
}
.header{ height: 60px;
}
.logo{font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}
.nav-menu{flex-direction: column;
    margin-right: 20px;
    background-color: rgb(204, 22, 210);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100%-60px);
    overflow: auto;
    align-items: center;
    left: 100%;
    transition: left 0.3s;
}
.nmi{line-height: 70px;
}
.nml:hover,
.nav-menu-linka {background: none;
color: #b91179;}
.toggle{color: white;
    background-color: rgb(222, 3, 163);
    border: none;
    font-size: 16px;
    padding: 12px 16px;
    cursor: pointer;
    display: block;
    height: 60px;
}

.nav-menvi{left: 0;}
}
